version: '3'
services:
  app:
    build: .
    stdin_open: true
    tty: true
    depends_on:
      - db
    volumes:  # This should share the reports folder
      - ./reports:/app/reports  # Host: ./reports (your project root), Container: /app/reports
  db:
    build: db/.
    restart: always
    ports:
      - "33060:3306"